.button {
    -fx-background-color:
            linear-gradient(#ff5400, #be1d00),
            radial-gradient(center 50% -40%, radius 200%, #ff5400 45%, #be1d00 50%);
        -fx-background-radius: 6, 5;
        -fx-background-insets: 0, 1;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
        -fx-text-fill: white;
}